#map {
    height: 100%;
}

.leaflet-container {
    background: #004672;
}

.placeholder {
    margin-right: 4px;
}

.twitter {
    color: #7cc142;
    font-weight: bold;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 5px;
    margin-right: 24px;
}

.leaflet-marker-icon .number {
    position: relative;
    top: -35px;
    font-size: 12px;
    width: 28px;
    text-align: center;
    font-weight: bold;
}

.leaflet-bar a {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    /* border-bottom-color: rgb(204, 204, 204); */
    color: #444;
    display: block;
    height: 26px;
    width: 26px;
    line-height: 1.45 !important;
    text-align: center;
    text-decoration: none;
    font: bold 18px'Lucida Console', Monaco, monospace;
}

.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
}
