#map {
    height: 100%;
}

.leaflet-container {
    background: #004672;
}

.placeholder {
    margin-right: 4px;
}

.twitter {
    color: #7cc142;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 5px;
    margin-right: 24px;
}

.leaflet-marker-icon .number {
    position: relative;
    top: -35px;
    font-size: 12px;
    width: 28px;
    text-align: center;
    font-weight: bold;
}
